body {
    display: flex;
    font-size: 15pt;
    background: seagreen;
}
h1{
  color: deepskyblue;
  position:relative;
  left: 100px;
  top: 50px;
  box-shadow:0 0 0 5px red;
  -webkit-text-stroke: 0.3vw #383d52;
  overflow: hidden;
  animation: text 3s 1;
  
}
@keyframes text {
  0%{
    color: black;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
}
